<!DOCTYPE html>
<html>
  <head>
    <title><%= message %> (<%= status %>)</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <div id="app" class="is-message">
      <h1><%= message %> (<%= status %>)</h1>
      <% if (error.stack) { %>
      <pre class="stack"><%= error.stack %></pre>
      <% } %>
    </div>
  </body>
</html>
